@model Educacesso.MVC.ViewModels.LicaoViewModel

@{
    ViewBag.Title = "NovaLicao";
    var id = ViewData["cursoID"];
    <script src="~/ckeditor/ckeditor.js"></script>
}


<br />
<br />
<br />
<br />
<br />

<br />
<h2>Cadastre uma nova lição em seu curso :)</h2>


@using (Html.BeginForm()) 
{
   
    
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
         
          
            <br />
            @Html.LabelFor(m => m.Titulo_Licao, "Nome", new { @class = "control-label col-md-2" })
          
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo_Licao)
                @Html.ValidationMessageFor(model => model.Titulo_Licao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Conteudo_Licao, "Conteudo da Licao" ,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              
               
                
                @Html.TextAreaFor(model => model.Conteudo_Licao, new { @id = "editor1" })
                <script type="text/javascript"> CKEDITOR.replace('editor1')</script>
              
                @Html.ValidationMessageFor(model => model.Conteudo_Licao)
            </div>
        </div>
            
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
