<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Educacesso</title>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
@{
    var viewBagQtdCurso = ViewBag.QuantidadeCurso;
}
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <header class="media-heading">
                <div class="pull-right">
                    @Html.Partial("_LoginPartial")
                    <br />
                    <br />
                    <br />
                    
                    <ul class="nav nav-pills">
                        @if (Request.IsAuthenticated)
                        {

                            <li class="active"><a href="~/Educacesso/Index">Home </a></li>
                            <li><a href="~/Gerenciar/MeusCursos">Meus Cursos </a></li>
							<li><a href="~/Pesquisar/Index">Pesquisar </a></li>
                          

                        }
                        else
                        {
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Sobre </a></li>
                            <li><a href="#">Contato </a></li>
                        }
                    </ul>
                </div>
                <div class="pull-left">
                    <div class="img-responsive">
                        <img src="~/Images/logoEducacesso.png" class="img-responsive" style="height: 110px; width: 340px" />
                    </div>
                    <p class="panel-title col-lg-10">Ensinando e aprendendo!</p>

                </div>



            </header>




        </div>
    </div>
    <div class="container body-content">


        <!--INICIO BODY ///////////////////////////////////////////////////////////////////////////////////////////-->
        @RenderBody()


        <br />
        <br/>
        <br />
        <br />
        <!-- FOOTER ///////////////////////////////////////////////////////////////////////////////////////////////-->
        <hr />
        
        <footer>
			<center>
				<p style="text-align: center; color: #00aeff; font-size: 12pt">Educacesso - Desenvolvido na BandTec - 2015</p>
				<a href="#"><img src="~/Images/icones/facebook.png" style="height: 45px; width: 45px; margin-right:5px" /></a>
				<a href="#"><img src="~/Images/icones/twitter.png" style="height: 45px; width: 45px; margin-right: 5px" /></a>
				<a href="#"><img src="~/Images/icones/github.png" style="height: 45px; width: 45px; margin-right: 5px" /></a>
			</center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
